<html>
    <body>
        <div style="border: 1px solid black;border-radius: 10px;width: 500px;">
            <div style="padding: 30px;text-align: center;font-size: 42px;font-weight: 700;">
                {{.FullName}}
            </div>
            <div style="text-align: center;font-size: 36;font-weight: 200;padding-bottom: 40px;">
                {{.BusinessName}}
            </div>
            <div style="background: goldenrod;border-radius: 0 0 10px 10px;padding: 10px;color: white;">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1024px-Google_%22G%22_Logo.svg.png" style="width: 60px;">
                </div>
                <div style="position: absolute;margin-top: -54px;margin-left: 75px;">
                    <p style="margin: 0;font-weight: 700;font-size: 24px;">PT. Satu Nusa Bangsa</p>
                    <p style="margin: 0;font-size: 22px;">Jalan perintisan, Bandung 54321</p>
                </div>
            </div>
        </div>
    </body>
</html>